.post a {
  color: #454545;
  font-weight: bold;
}

.comment a {
  color: #454545;
}

.post-photo-user {
  width: 60px;
  height: 60px;
  crop:fill;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.em {
  opacity: 0.7;
}

.comment-photo-user {
  width: 40px;
  height: 40px;
  crop:fill;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.back-link {
  color: #5A5A5A;
}

.forum-details{
  opacity: 0.6;
  font-size: 13px;
}


// .forum-search {
//   margin-right: 30px !important;
// }

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.forum-banner {
  background-color: black;
  height: 35vh;
  width: 100vw;
  background-size: cover;
  background-position: top;
  padding: 30px 0;
}

.forum-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;

}

.forum-banner p {
  font-size: 22px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

