// Specific CSS for your home-page

.how-it-works {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 30px;
}

.title-containers {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.primary-explain-container {
  display: flex;
  margin: 5px 0 40px 0;
  justify-content: space-around;
}

.explain-containers {
  width: 550px;
  border-top: solid thin;
}
