.messages-container {
  display: flex;
  width: 75vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.message-list {
  margin: 50px 0 0 20px;
  overflow: scroll;
  background-color: white;
  height: calc(100vh - 75px - 70px - 60px);
  border-radius: 5px;

}

.message-list::-webkit-scrollbar {
  display: none;
}

.chatter-photo {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.recipient-info {
  padding: 20px 50px;
  border-radius: 5px;
  margin: 50px 0 0 0;
  overflow: scroll;
  width: 25%;
  height: calc(100vh - 75px - 70px - 60px);
  text-align: center;
  background-color: white;
}

.recipient-info::-webkit-scrollbar {
  display: none;
}

.single-message-container {
  display: flex;
  margin: 0 20px;
}

.send-message-field {
  position: fixed;
  bottom: 80px;
  width: 720px;
  padding: 0;
  height: 40px;
}

.message-box {
  width: 100%;
  height: 40px;
}

.message-box > input {
  width: 100%;
  height: 40px;
}

.input-container {
  display: flex;
}

.send-btn {
  width: 20%;
}

.message-content {
  font-size: 19px;
}

.single-message-container .r {
  text-align: right;
}
