.to-be-darkened {
}

.bio-title, .profile-name {
  font-weight: 600;
}

.profile-banner {
  width: 65vw;
  margin: 0 auto;
}

.page-bottom {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  margin: 0 auto;
}

.left-box {
  background-color: white;
  width: 100%;
  padding: 25px 10px;
  border-radius: 10px;
  text-align: center;
}

.center-box {
  background-color: white;
  height: auto;
  width: 48%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}


.right-box{
  background-color: white;
  height: auto;
  flex-grow: 1;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 100%;

}

.rightside {
  margin-left: 30px;
}

.language-hobbies {
  justify-content: space-between;
}

.bio-text {
  font-size: 20px;
}

i {
  font-size: 40px;
}

.fa-home {
  font-size: 20px;
}

.icon-text {
  font-size: 20px;
}

// request friend button

.btn .btn-outline-dark .request-button {
  font-size: 40px;
}
