<!-- below is the previous code -->
<div class="container mt-4">
  <% if current_user.nil? %>
    <% @locallects.each do |user| %>
      <%= link_to locallect_path(user.id) do %>
        <%= render 'locallectslist', :user => user %>
      <% end %>
    <% end %>
  <% else %>
    <% @locallects.each do |user| %>
      <% unless current_user.id == user.id %>
        <%= link_to locallect_path(user.id) do %>
          <%= render 'locallectslist', :user => user %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
