<div class="container">
  <% @locallects.each do |locallect| %>
    <%= link_to locallect_path(locallect.id) do  %>
      <p><%= locallect.first_name %> <%= locallect.last_name %></p>
      <p><%= @photo %></p>
    <% end %>
  <% end %>
</div>
