<!-- below is the previous code -->
<div class="container mt-4">
  <div class="row">
    <% if current_user.nil? %>
      <% @locallects.each do |user| %>
        <div class="col-sm-4">
          <%= render 'shared/locallectslist', :user => user %>
        </div>
      <% end %>
    <% else %>
      <% @locallects.each do |user| %>
        <div class="col-sm-4">
          <% unless current_user.id == user.id %>
            <%= render 'shared/locallectslist', :user => user %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>