<!-- below is the previous code -->
<div class="container mt-4">
  <% if current_user.nil? %>
    <% @locallects.each do |user| %>
      <%= render 'locallectslist', :user => user %>
    <% end %>
  <% else %>
    <% @locallects.each do |user| %>
      <% unless current_user.id == user.id %>
        <%= render 'locallectslist', :user => user %>
      <% end %>
    <% end %>
  <% end %>
</div>