<div id="parallax-world-of-ugg">
  <!-- <section>
    <div class="title">
      <h3>Helping the displaced connect locally</h3>
      <h1>Locallectual</h1>
      <%#= simple_form_for :search, url: locallects_path, method: :get do |f| %>
        <div class="search-form-control form-group mb-5 banner-search" style="margin: 0 auto;">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search for a host in your area..."/>
          <br>
          <button name="button" type="Search" class="btn p-0" id="home-button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      <%# end %>
    </div>
  </section> -->
  <section>
    <div class="parallax-one">
      <h2>Who we are</h2>
    </div>
  </section>
  <section>
    <div class="block">
      <p><span class="first-character sc">I</span>n 2018, over 70.8 million individuals have been forcibly displaced from their homes either by persecution, conflict, violence, or human rights violations. This is a record high, and the numbers are only expected to be greater for future years to come. People who want to help can simply do so by showing them the need-to-knows of their local city. Anywhere from showing someone how to take the bus, to introducing community events or posting information on our forum, Locallectual makes it easy to get involved and make friends along the way.</p>
      <p class="line-break margin-top-10"></p>
      <!--       <p class="margin-top-10"></p> -->
    </div>
  </section>
  <section>
    <div class="parallax-two">
      <h2>Why we created this platform</h2>
    </div>
  </section>
  <section>
    <div class="block">
      <p><span class="first-character ny">C</span>urrently there are a lack of resources to satisfy the total number of forcibly displaced people, with the majority being women and children. Traditional organizations may also have limitations when identifying some specific needs, disabilities, or other barriers that cannot be addressed on a more micro level. Locallectual aims to bridge this gap by putting both sides directly in touch. Creating friendships and connections that are both authentic, lasting, and fruitful. </p>
      <p class="line-break margin-top-10"></p>
      <!--  <p class="margin-top-10"></p> -->
    </div>
  </section>
  <section>
    <div class="parallax-three">
      <h2>What we want to solve</h2>
    </div>
  </section>
  <section>
    <div class="block">
      <p><span class="first-character atw">L</span>ocallectual is a friendly platform that provides flexible ways to provide aid and assistance to forcibly displaced people. We put those looking for local insight directly in touch with those looking to help. Locallectual currently also features a forum to provide a safe place to have discussions and look for support.</p>
      <p class="line-break margin-top-10"></p>
      <p class="margin-top-10"></p>
    </div>
  </section>
</div>