
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-text {
  font-size: 18px;
}
.navbar-text:hover {
  text-decoration: none;
}

.userfunctions {
  margin-right: 10px;
}

.navbar-nav {
  align-items: center;
}

.navbar-button-text {
  font-color: white;
}
